@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* Start Navbar */
nav{
  background-color: #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  height: 50px;
}
nav span{
  color: #4ba9e7;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}
nav .container{
  min-width: 200px;
}
nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li{
  list-style: none;
  font-size: 20px;
}
nav ul li a{
  text-decoration: none;
  color: hsl(205, 86%, 17%);
  font-weight: bold;
  letter-spacing: 2px;
}
nav ul li a:hover{
  color: #4ba9e7;
}
/* End Navbar */